@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Poppins", sans-serif; 
    background-image: url("imagens/estatisticas.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size:31px;
    margin-right: 32px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.4rem;
}

h3 {
    font-size: 18px;
    color: #ffffff;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

section input {
    width: 27rem;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #2b3031;
}

input[type="text"]::placeholder {
    color: #ffffff;
  }
section button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #054163;
    color: #F5F7F8;
    font-size: 1rem;
    cursor: pointer;
}

section button:hover {
    box-shadow: 0 4px 8px #FFFFFF;
    color: #000000;
    background-color: #FFFFFF;
    
}

footer {
    background-color: rgb(100, 118, 219); 
    color: #ffffff; 
    text-align: center; 
    padding: 0;
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    font-size: 1rem; 
    padding-top: 5px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; 
        letter-spacing: 0.2rem; 
    }

    section input {
        width: 25rem; 
        padding: 0.8rem; 
    }

    .resultados-pesquisa {
        width: 40rem; 
        height: 40vh; 
    }

    .item-resultado h2 {
        font-size: 1.3rem; 
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; 
        letter-spacing: 0.1rem;
    }

    section input {
        width: 17rem;
    }

    section button {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

    .resultados-pesquisa {
        width: 90%; 
        height: 50vh; 
    }

    .item-resultado h2 {
        font-size: 1.1rem; 
    }

    footer {
        font-size: 0.9rem; 
    }
}

a{
    text-decoration: none;
    color: #222831;
}

a:hover {
    color: #f9ffff;
    transition: 0.5s;
    cursor: pointer;
}

a button {
    background-color: #30475E;
    color: #f9ffff;
    border-radius: 0.6rem;
}

.botao-estatisticas {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #054163;
    color: #F5F7F8;
    font-size: 1rem;
    cursor: pointer;
}

.botao-estatisticas:hover {
    box-shadow: 0 4px 8px #FFFFFF;
    color: #000000;
    background-color: #FFFFFF;
}

.exclamacao {
    color: #054163;
}

.botao-inicio{
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #054163;
    color: #F5F7F8;
    font-size: 1rem;
    cursor: pointer;
}

.botao-inicio:hover {
    box-shadow: 0 4px 8px #FFFFFF;
    color: #000000;
    background-color: #FFFFFF;
}

